# Environment
.env*

# Local script
Makefile

# Unused database schema
.gen/pharma_sheet/public/view
.gen/pharma_sheet/public/model/schema_migrations.go
.gen/pharma_sheet/public/table/schema_migrations.go
